[submodule "NPRG038"]
	path = NPRG038
	url = https://github.com/Oranged9922/NPRG038.git
[submodule "NTIN071"]
	path = NTIN071
	url = https://github.com/Oranged9922/NTIN071.git
[submodule "NPRG045"]
	path = NPRG045
	url = https://github.com/Oranged9922/NPRG045.git
[submodule "Random"]
	path = Random
	url = https://github.com/Oranged9922/Random.git
[submodule "NPGR019"]
	path = NPGR019
	url = https://github.com/Oranged9922/NPGR019.git
[submodule "NAIL028"]
	path = NAIL028
	url = https://github.com/Oranged9922/NAIL028.git
[submodule "NAIL062"]
	path = NAIL062
	url = https://github.com/Oranged9922/NAIL062.git
[submodule "NDBI025"]
	path = NDBI025
	url = https://github.com/Oranged9922/NDBI025.git
[submodule "NMAI072"]
	path = NMAI072
	url = https://github.com/Oranged9922/NMAI072.git
[submodule "NPGR035"]
	path = NPGR035
	url = https://github.com/Oranged9922/NPGR035.git
[submodule "NPRG041"]
	path = NPRG041
	url = https://github.com/Oranged9922/NPRG041.git
[submodule "NSWI004"]
	path = NSWI004
	url = https://github.com/Oranged9922/NSWI004.git
[submodule "NPRG035"]
	path = NPRG035
	url = https://github.com/Oranged9922/NPRG035.git
[submodule "NPRG005"]
	path = NPRG005
	url = https://github.com/Oranged9922/NPRG005.git
