[submodule "NPRG038"]
	path = NPRG038
	url = https://github.com/Oranged9922/NPRG038.git
[submodule "NMAI059"]
	path = NMAI059
	url = https://github.com/Oranged9922/NMAI059.git
[submodule "NTIN071"]
	path = NTIN071
	url = https://github.com/Oranged9922/NTIN071.git
[submodule "NPRG045"]
	path = NPRG045
	url = https://github.com/Oranged9922/NPRG045.git
[submodule "Random"]
	path = Random
	url = https://github.com/Oranged9922/Random.git
