[submodule "NPRG038"]
	path = NPRG038
	url = https://github.com/Oranged9922/NPRG038.git
[submodule "NMAI059"]
	path = NMAI059
	url = https://github.com/Oranged9922/NMAI059.git
[submodule "NPRG045"]
	path = NPRG045
	url = H:/GitHub/school-related/NPRG045/
[submodule "NTIN071"]
	path = NTIN071
	url = C:/Users/Lukáš/Documents/GitHub/school-related/NTIN071/
